DB_HOST=localhost
DB_PORT=5433
DB_NAME=gis
DB_USER=change_me
DB_PASSWORD=change_me

POSTGRES_DB=gis
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

POSTGIS_HOST_PORT=5433
PGADMIN_HOST_PORT=5050
GEOSERVER_HOST_PORT=8080